# .env.docker docker部署用

# --- Django 核心 ---
# 指向你的生产环境配置文件 (根据你的实际文件名修改，比如 django_project.settings.prod)
DJANGO_SETTINGS_MODULE=django_project.settings.docker_base
SECRET_KEY=your-strong-secret-key-for-production
DEBUG=False

# --- 数据库 (MySQL) ---
DB_NAME=ecommerce_db #数据库名，可以修改
DB_USER=abc
DB_PASSWORD=111
# 在 Docker 内部网络中，数据库主机名通常叫 'db'
DB_HOST=db
DB_PORT=3306  # 本地mysql端口号，一般是3306

# --- 中间件主机名 (Docker Service Names) ---
REDIS_HOST=127.0.0.1 #本地运行redis的一般地址
ES_HOST=127.0.0.1   #本地运行es的一般地址

# --- 支付宝配置 ---
ALIPAY_APPID=申请的支付宝id
ALIPAY_DEBUG=True
ALIPAY_GATEWAY_URL=https://openapi-sandbox.dl.alipaydev.com/gateway.do

# --- 域名配置 ---
# 生产环境 Nginx 监听端口
SITE_DOMAIN=http://127.0.0.1


# Ngrok 公网地址 (Webhook用)
PUBLIC_DOMAIN=https://duane-nonauriferous-laithly.ngrok-free.dev

# --- 邮件配置 ---
EMAIL_HOST_USER=邮件账号
EMAIL_HOST_PASSWORD=邮件申请码
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False